/output
/work/config.xml
/work/_ffplay.exe
/work/1.ass
/work/1.c
/work/a.exe
/work/BigPot.aps
/*.zip
/ffplay
/BigPot.v12.suo
/BigPot.sdf
/BigPot/BigPot.aps
/work/swscale-3.dll
/work/avdevice-56.dll
/work/avfilter-5.dll
/work/BigPot.exe
/work/libgcc_s_dw2-1.dll
/work/postproc-53.dll
/work/ffmpeg.exe
/work/ffplay.exe
/work/ffprobe.exe
*.opensdf
*.MOV
*.ssa
