/output
/work/config.xml
/work/_ffplay.exe
/work/1.ass
/work/1.c
/work/a.exe
/work/BigPot.aps
/*.zip
/ffplay
/BigPot.v12.suo
/BigPot.sdf
/BigPot/BigPot.aps
/work/swscale-3.dll
/work/avdevice-56.dll
/work/avfilter-5.dll
/work/BigPot.exe
/work/libgcc_s_dw2-1.dll
/work/postproc-53.dll
/work/ffmpeg.exe
/work/ffplay.exe
/work/ffprobe.exe
*.opensdf
*.MOV
*.ssa
*.a
BigPot/.dc
BigPot/.dcpp
BigPot/bigpot
BigPot/BigPot.o
BigPot/BigPotAudioStream.o
BigPot/BigPotBase.o
BigPot/BigPotConfig.o
BigPot/BigPotConv.o
BigPot/BigPotEngine.o
BigPot/BigPotMedia.o
BigPot/BigPotMediaStream.o
BigPot/BigPotPlayer.o
BigPot/BigPotResample.o
BigPot/BigPotStream.o
BigPot/BigPotStreamAudio.o
BigPot/BigPotStreamVideo.o
BigPot/BigPotString.o
BigPot/BigPotSubtitle.o
BigPot/BigPotSubtitleAss.o
BigPot/BigPotSubtitleFactory.o
BigPot/BigPotSubtitleSrt.o
BigPot/BigPotUI.o
BigPot/BigPotVideoStream.o
BigPot/config.xml
BigPot/temp.txt
BigPot.app/Contents/Info.plist
BigPot.app/Contents/PkgInfo
BigPot.app/Contents/lib/libass.5.dylib
BigPot.app/Contents/lib/libavcodec.56.dylib
BigPot.app/Contents/lib/libavformat.56.dylib
BigPot.app/Contents/lib/libavutil.54.dylib
BigPot.app/Contents/lib/libfontconfig.1.dylib
BigPot.app/Contents/lib/libfreetype.6.dylib
BigPot.app/Contents/lib/libfribidi.0.dylib
BigPot.app/Contents/lib/libiconv.2.dylib
BigPot.app/Contents/lib/libmp3lame.0.dylib
BigPot.app/Contents/lib/libpng16.16.dylib
BigPot.app/Contents/lib/libSDL2-2.0.0.dylib
BigPot.app/Contents/lib/libSDL2_image-2.0.0.dylib
BigPot.app/Contents/lib/libSDL2_ttf-2.0.0.dylib
BigPot.app/Contents/lib/libswresample.1.dylib
BigPot.app/Contents/lib/libvo-aacenc.0.dylib
BigPot.app/Contents/lib/libx264.142.dylib
BigPot.app/Contents/lib/repair_dylib2.sh
BigPot.app/Contents/MacOS/bigpot
BigPot.app/Contents/MacOS/config.xml
BigPot.app/Contents/Resources/bigpot.icns
BigPot.xcodeproj/project.pbxproj
BigPot.xcodeproj/project.xcworkspace/contents.xcworkspacedata
BigPot.xcodeproj/project.xcworkspace/xcshareddata/BigPot.xccheckout
BigPot.xcodeproj/project.xcworkspace/xcuserdata/sty.xcuserdatad/UserInterfaceState.xcuserstate
BigPot.xcodeproj/xcuserdata/sty.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BigPot.xcodeproj/xcuserdata/sty.xcuserdatad/xcschemes/BigPot.xcscheme
BigPot.xcodeproj/xcuserdata/sty.xcuserdatad/xcschemes/xcschememanagement.plist
BigPot/hash/sha3.o
BigPot/tinyxml2/tinyxml2.o
lib/libass.5.dylib
lib/libavcodec.56.dylib
lib/libavformat.56.dylib
lib/libavutil.54.dylib
lib/libfontconfig.1.dylib
lib/libfreetype.6.dylib
lib/libfribidi.0.dylib
lib/libiconv.2.dylib
lib/libmp3lame.0.dylib
lib/libpng16.16.dylib
lib/libSDL2-2.0.0.dylib
lib/libSDL2_image-2.0.0.dylib
lib/libSDL2_ttf-2.0.0.dylib
lib/libswresample.1.dylib
lib/libvo-aacenc.0.dylib
lib/libx264.142.dylib
lib/repair_dylib2.sh
lib/SDL2.framework/Headers
lib/SDL2.framework/Resources
lib/SDL2.framework/SDL2
lib/SDL2.framework/Versions/Current
lib/SDL2.framework/Versions/A/SDL2
lib/SDL2.framework/Versions/A/_CodeSignature/CodeResources
lib/SDL2.framework/Versions/A/Headers/begin_code.h
lib/SDL2.framework/Versions/A/Headers/close_code.h
lib/SDL2.framework/Versions/A/Headers/SDL.h
lib/SDL2.framework/Versions/A/Headers/SDL_assert.h
lib/SDL2.framework/Versions/A/Headers/SDL_atomic.h
lib/SDL2.framework/Versions/A/Headers/SDL_audio.h
lib/SDL2.framework/Versions/A/Headers/SDL_bits.h
lib/SDL2.framework/Versions/A/Headers/SDL_blendmode.h
lib/SDL2.framework/Versions/A/Headers/SDL_clipboard.h
lib/SDL2.framework/Versions/A/Headers/SDL_config.h
lib/SDL2.framework/Versions/A/Headers/SDL_config_macosx.h
lib/SDL2.framework/Versions/A/Headers/SDL_copying.h
lib/SDL2.framework/Versions/A/Headers/SDL_cpuinfo.h
lib/SDL2.framework/Versions/A/Headers/SDL_endian.h
lib/SDL2.framework/Versions/A/Headers/SDL_error.h
lib/SDL2.framework/Versions/A/Headers/SDL_events.h
lib/SDL2.framework/Versions/A/Headers/SDL_filesystem.h
lib/SDL2.framework/Versions/A/Headers/SDL_gamecontroller.h
lib/SDL2.framework/Versions/A/Headers/SDL_gesture.h
lib/SDL2.framework/Versions/A/Headers/SDL_haptic.h
lib/SDL2.framework/Versions/A/Headers/SDL_hints.h
lib/SDL2.framework/Versions/A/Headers/SDL_joystick.h
lib/SDL2.framework/Versions/A/Headers/SDL_keyboard.h
lib/SDL2.framework/Versions/A/Headers/SDL_keycode.h
lib/SDL2.framework/Versions/A/Headers/SDL_loadso.h
lib/SDL2.framework/Versions/A/Headers/SDL_log.h
lib/SDL2.framework/Versions/A/Headers/SDL_main.h
lib/SDL2.framework/Versions/A/Headers/SDL_messagebox.h
lib/SDL2.framework/Versions/A/Headers/SDL_mouse.h
lib/SDL2.framework/Versions/A/Headers/SDL_mutex.h
lib/SDL2.framework/Versions/A/Headers/SDL_name.h
lib/SDL2.framework/Versions/A/Headers/SDL_opengl.h
lib/SDL2.framework/Versions/A/Headers/SDL_opengles.h
lib/SDL2.framework/Versions/A/Headers/SDL_opengles2.h
lib/SDL2.framework/Versions/A/Headers/SDL_pixels.h
lib/SDL2.framework/Versions/A/Headers/SDL_platform.h
lib/SDL2.framework/Versions/A/Headers/SDL_power.h
lib/SDL2.framework/Versions/A/Headers/SDL_quit.h
lib/SDL2.framework/Versions/A/Headers/SDL_rect.h
lib/SDL2.framework/Versions/A/Headers/SDL_render.h
lib/SDL2.framework/Versions/A/Headers/SDL_revision.h
lib/SDL2.framework/Versions/A/Headers/SDL_rwops.h
lib/SDL2.framework/Versions/A/Headers/SDL_scancode.h
lib/SDL2.framework/Versions/A/Headers/SDL_shape.h
lib/SDL2.framework/Versions/A/Headers/SDL_stdinc.h
lib/SDL2.framework/Versions/A/Headers/SDL_surface.h
lib/SDL2.framework/Versions/A/Headers/SDL_system.h
lib/SDL2.framework/Versions/A/Headers/SDL_syswm.h
lib/SDL2.framework/Versions/A/Headers/SDL_thread.h
lib/SDL2.framework/Versions/A/Headers/SDL_timer.h
lib/SDL2.framework/Versions/A/Headers/SDL_touch.h
lib/SDL2.framework/Versions/A/Headers/SDL_types.h
lib/SDL2.framework/Versions/A/Headers/SDL_version.h
lib/SDL2.framework/Versions/A/Headers/SDL_video.h
lib/SDL2.framework/Versions/A/Resources/Info.plist
lib/SDL2_image.framework/Frameworks
lib/SDL2_image.framework/Headers
lib/SDL2_image.framework/Resources
lib/SDL2_image.framework/SDL2_image
lib/SDL2_image.framework/Versions/Current
lib/SDL2_image.framework/Versions/A/SDL2_image
lib/SDL2_image.framework/Versions/A/_CodeSignature/CodeResources
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/LICENSE.webp.txt
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/webp
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Headers/webp/decode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Headers/webp/encode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Headers/webp/types.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Resources/Info.plist
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Resources/English.lproj/InfoPlist.strings
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/webp
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/_CodeSignature/CodeResources
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/Headers/webp/decode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/Headers/webp/encode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/Headers/webp/types.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/Resources/Info.plist
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/webp
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/Headers/webp/decode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/Headers/webp/encode.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/Headers/webp/types.h
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/Resources/Info.plist
lib/SDL2_image.framework/Versions/A/Frameworks/webp.framework/Versions/Current/Resources/English.lproj/InfoPlist.strings
lib/SDL2_image.framework/Versions/A/Headers/SDL_image.h
lib/SDL2_image.framework/Versions/A/Resources/Info.plist
lib/SDL2_ttf.framework/Frameworks
lib/SDL2_ttf.framework/Headers
lib/SDL2_ttf.framework/Resources
lib/SDL2_ttf.framework/SDL2_ttf
lib/SDL2_ttf.framework/Versions/Current
lib/SDL2_ttf.framework/Versions/A/SDL2_ttf
lib/SDL2_ttf.framework/Versions/A/_CodeSignature/CodeResources
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/FreeType
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/LICENSE.freetype.txt
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/ft2build.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/freetype.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftadvanc.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftautoh.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftbbox.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftbdf.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftbitmap.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftbzip2.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftcache.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftcffdrv.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftchapters.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftcid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/fterrdef.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/fterrors.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftgasp.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftglyph.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftgxval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftgzip.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftimage.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftincrem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftlcdfil.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftlist.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftlzw.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftmac.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftmm.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftmodapi.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftmoderr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftotval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftoutln.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftpfr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftrender.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftsizes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftsnames.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftstroke.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftsynth.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftsystem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/fttrigon.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/fttypes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftwinfnt.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ftxf86.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/t1tables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ttnameid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/tttables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/tttags.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/ttunpat.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/config/ftconfig.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/config/ftheader.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/config/ftmodule.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/config/ftoption.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Headers/freetype/config/ftstdlib.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Resources/Info.plist
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Resources/English.lproj/InfoPlist.strings
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/FreeType
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/_CodeSignature/CodeResources
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/ft2build.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/freetype.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftadvanc.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftautoh.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftbbox.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftbdf.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftbitmap.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftbzip2.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftcache.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftcffdrv.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftchapters.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftcid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/fterrdef.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/fterrors.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftgasp.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftglyph.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftgxval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftgzip.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftimage.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftincrem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftlcdfil.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftlist.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftlzw.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftmac.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftmm.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftmodapi.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftmoderr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftotval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftoutln.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftpfr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftrender.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftsizes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftsnames.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftstroke.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftsynth.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftsystem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/fttrigon.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/fttypes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftwinfnt.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ftxf86.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/t1tables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ttnameid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/tttables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/tttags.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/ttunpat.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/config/ftconfig.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/config/ftheader.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/config/ftmodule.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/config/ftoption.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Headers/freetype/config/ftstdlib.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Resources/Info.plist
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/A/Resources/English.lproj/InfoPlist.strings
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/FreeType
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/ft2build.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/freetype.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftadvanc.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftautoh.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftbbox.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftbdf.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftbitmap.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftbzip2.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftcache.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftcffdrv.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftchapters.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftcid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/fterrdef.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/fterrors.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftgasp.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftglyph.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftgxval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftgzip.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftimage.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftincrem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftlcdfil.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftlist.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftlzw.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftmac.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftmm.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftmodapi.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftmoderr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftotval.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftoutln.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftpfr.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftrender.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftsizes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftsnames.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftstroke.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftsynth.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftsystem.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/fttrigon.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/fttypes.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftwinfnt.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ftxf86.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/t1tables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ttnameid.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/tttables.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/tttags.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/ttunpat.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/config/ftconfig.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/config/ftheader.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/config/ftmodule.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/config/ftoption.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Headers/freetype/config/ftstdlib.h
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Resources/Info.plist
lib/SDL2_ttf.framework/Versions/A/Frameworks/FreeType.framework/Versions/Current/Resources/English.lproj/InfoPlist.strings
lib/SDL2_ttf.framework/Versions/A/Headers/SDL_ttf.h
lib/SDL2_ttf.framework/Versions/A/Resources/Info.plist
*.mkv
*.opendb
